body {
  background: white;
  color: #323232;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Helvetica neue, roboto;
}

img {
  width: 56px;
  height: 48px;
}

h1 {
  font-weight: 200;
  font-style: 26px;
  margin: 10px;
}

button {
  margin: 10px;
}

#enterLetter {
  width: 50px;
}

#guesses {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}