header {
	text-align: center;
	margin: 0 200px 0 0;
}
body {
}
div.content {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 70% 30%;
  justify-content: center;
  background-color: dodgerblue;
  margin: 0 200px 0 0;
  /*height: 400px;
  width: 800px;*/
	border: 10px outset #1C6EA4;
	border-radius: 0px 20px 0px 20px;
}
div.display {
	grid-column: 1 / span 3;
  grid-row: 1;
	background-color: lightsteelblue;
	margin: 20px;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
div.input {
	grid-column: 1 / span 3;
  grid-row: 2 ;
  background-color: lightsteelblue;
	margin: 20px;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
}

div.control {
	grid-column: 4;
  grid-row: 1/span 2;
	background-color: dodgerblue;
	margin: 20px;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:10px;
	border:1px solid #337fed;
	display: block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
	padding: 20px;
	margin: 10px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
p {
	text-align: center;
	font-size: 25px;
}
p.notifications {

}
}
p.words {
	background-color: green;
}
p.table {
	background-color: red;
}
p.notifications {
	background-color: orange;
}
.userinput {
	font-size: 25px;
	background-color: lightsteelblue;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	text-align: center;
}