
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&display=swap');

.starter{
  font-size:30px;
  padding:30px;
  display:block;
  margin:40px auto;
  border:1px solid lavender;
  width: 50%;

}

#output{
  background-color:white;
  color: #3199DA;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  background-color: cornflowerblue;
  color: white;
}

h2 {
  text-align: center;
  font-size: 50px;
}

footer {
  margin: 50px;
}

header {
  text-align: center;
}

p,
select {
  border: 1px silver solid;
  padding: 10px;
  margin: 0 auto;
  width: 20%;
  text-align: center;
}

.hidden {
  display: hidden;
}